[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
click = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pylabscanner = {file = ".", editable = true}
pyserial = "*"
tables = "*"
thorlabs-apt-device = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12.6"
